<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>Hello {{user.username}}</h1><br>
    {% if bench|length > 0 %}
    <p>Bench:
        5 RM: {{bench[0].fiveRM}}
        1 RM: {{bench[0].oneRM}}
    </p>
    {% endif %}
    {% if squat|length > 0 %}
    <p>Squat:
        5 RM: {{squat[0].fiveRM}} 
        1 RM: {{squat[0].oneRM}} 
    </p>
    {% endif %}
    {% if deadlift|length > 0 %}
    <p>
        Deadlift:
        5 RM: {{deadlift[0].fiveRM}} 
        1 RM: {{deadlift[0].oneRM}}
    </p>
    {% endif %}

    


    <a href= "{{url_for('logout')}}">Logout</a>
    
</body>
</html>