{% extends "base.html" %}
{% block title %}Cian Hogan|Log Maxes{% endblock %}
{% block content %}

<h1>This is the registeration page title</h1>


<form method="POST" action="">
    {{ form.hidden_tag() }}<br>
    {{ form.exercise }}<br>
    {{ form.fiveRM }}<br>
    {{ form.fourRM }}<br>
    {{ form.threeRM }}<br>
    {{ form.twoRM }}<br>
    {{ form.oneRM }}<br>
    {{ form.submit }}<br>

</form>

<p>
    Already have an account? <a href="{{url_for('login')}}"> Login Here</a>
</p>

{% endblock %}
