{% extends "base.html" %}
{% block title %}Cian Hogan|Log Maxes{% endblock %}
{% block content %}

<h1>Choose an exercise and<br>
    log your rep records below</h1>

<form method="POST" action="">
    {{ form.hidden_tag() }}<br>
    {{ form.exercise }}<br><br>
    {{ form.fiveRM }}<br>
    {{ form.fourRM }}<br>
    {{ form.threeRM }}<br>
    {{ form.twoRM }}<br>
    {{ form.oneRM }}<br><br>
    {{ form.submit }}<br>

</form><br>

<p>
    <a href= "{{url_for('logout')}}" >Logout</a>
</p>

{% endblock %}
